@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

.todo {
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    background-color: burlywood;
    padding: 10px;
    border-radius: 10px;
}

.todo img {
    height: 50px;
    width: 50px;
}

.todo h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Dosis';
}

.todo div {
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    height: 50px;
    background-color: antiquewhite;
    border-style: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 5px 2px gray;
    font-weight: 500;
    font-size: large;
    font-family: 'Dosis';
}

.task-item:hover {
    background-color: bisque;
}

.task-item button {
    margin-right: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: burlywood;
    box-shadow: 1px 3px 2px gray;
    font-weight: 500;
    width: 70px;
    height: 25px;
    font-family: 'Dosis';
}

.task-item div {
    display: flex;
    gap: 25px;
}

.task-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: burlywood;
}

.task-item input[type="checkbox"]:checked {
    background-color: burlywood;
}

.task-item button:hover {
    background-color: antiquewhite;
    cursor: pointer;
}

.addFieldButton {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 0 20px 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.addFieldButton button {
    width: 8%;
    border-radius: 5px;
    border-style: none;
    background-color: antiquewhite;
    box-shadow: 3px 5px 2px gray;
    font-weight: 800;
    font-size: large;
    font-family: 'Dosis';
}

.addFieldButton button:hover {
    background-color: bisque;
    cursor: pointer;
}

.addFieldButton input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 3px 5px 2px gray;
}

.filter {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 1px;
}

.filter button {
    width: 100%;
    height: 25px;
    border-style: hidden;
    font-family: 'Dosis';
    background-color: bisque;
    font-weight: 700;
}

.filter button:hover {
    background-color: burlywood;
    cursor: pointer;
}

.todoContainer {
    margin-top: 50px;
}

.completed {
    text-decoration: line-through;
}

.filter .current {
    background-color: burlywood;
}