header {
    width: 100%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
header nav{
    display: flex;
    gap: 100px;
}

header a {
    text-decoration: none;
    color: grey;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
header nav a.active {
    color: black;
}
header a:hover {
    color: black;
}
header.theme-dark {
    background-color: black;
}
header.theme-dark nav a{
    color: white;
}
header.theme-dark a{
    text-shadow: 1px 1px 1px lightgrey;
}

header.theme-dark a:hover {
    color: rgb(105, 105, 105);
}
header.theme-dark a.active {
    color: rgb(105, 105, 105);
}
header button{
    margin-left: 50px;
}
header.theme-light button{
    background-color: black;
    color: white;
}
body{
    background-color: rgb(248, 248, 248);
}
body.theme-light{
    background-color: rgb(44, 44, 44);
}