.gridContainer {
    position: relative;
    width: calc(6 * 200px + 5 * 10px);
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10px;
}

.gridContainer .item {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-sizing: border-box;
    width: 240px;
    height: 550px;    
    position: absolute;
    transition: transform 0.3s ease, z-index 0.3s ease;
    background-color: white;
    margin-top: 10px;
}

.gridContainer .item img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
}

.gridContainer .propertiesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 100%;

}

.gridContainer .item .productDetails {
    height: 0;
    overflow: hidden;
    transition: height 0.1s ease;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
}

.gridContainer .item:hover .productDetails {
    visibility: visible;
    height: auto;
    width: 100%;
}

.gridContainer .item:hover {
    transform: scale(1.1);
    z-index: 1000;
    height: auto;
}

.gridContainer .likeButton {
    margin: 10px;
    border-style: none;
}

.productDetails {
    visibility: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.listContainer .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: box-shadow 1s ease, outline 1s ease;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.listContainer #price {
    width: 5%;
}

.listContainer .propertiesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.listContainer .likeButton {
    margin: 10px;
    border-style: none;
}

.listContainer .item img {
    grid-column: 1;
    margin: 10px;
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.listContainer .item .productDetails {
    margin: 10px;
    visibility: visible;
    border: none;
    width: 200px;
    max-width: 100%;
}

.listContainer .item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline-offset: -2px;
    transition: 1ms;
}

.myHeader {
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item p:first-of-type {
    color: brown;
}

.item p:last-of-type {
    color: grey;
}

.myHeader button {
    margin: 10px;
}


.addProductForm {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: gainsboro;
    width: 400px;
    height: 500px;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.productFormItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    font-family: 'Dosis';
    width: 90%;
}

.productFormItem input {
    border-radius: 5px;
}

.addProductForm button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: large;
    font-family: 'Dosis';
}


.product {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.addProductButtonCntainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product .myHeader button {
    border-style: none;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, outline 0.3s ease;
    font-family: 'Dosis';
    font-weight: 700;
    font-size: large;
}

.product button:hover {
    border-color: lightblue;
    box-shadow: 3px 5px 2px gray;
}

.line-1 {
    height: 1px;
    background: lightgray;
    margin-top: 10px;

}

.sortAndView {
    display: flex;
}

.viewButtons {
    display: flex;
    flex-direction: row;
}

.myHeader .sortAndView .viewButtons button {
    height: 50px;
    width: 50px;

}

.myHeader .sortAndView .viewButtons button img {
    height: 25px;
    width: 25px;
}

.sortMenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.myHeader .sortAndView .sortMenu button {
    height: 50px;
    width: 150px;
}

.likedButton {
    width: 50px !important;
}

.likedItemsHeader .myHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#check {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: gray;
}

#check button {
    border-radius: 5px;
    border-style: none;
    background-color: white;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    font-size: large;
    font-family: 'Dosis';
    transition: box-shadow 0.3s ease, outline 0.3s ease;
    color: red;
}

#check button:hover {
    border-color: lightblue;
    box-shadow: 3px 5px 2px gray;
}