.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}
.item{
    text-decoration: none;
}
.gridView, .listView{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gridContainer .item img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.gridContainer .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, outline 0.3s ease;
    box-sizing: border-box;
    width: 100%;
    height: 450px;
}

.gridContainer .hovered {
    height: 100%;
}

.gridContainer .item:hover .productDetails {
    visibility: visible;
    border-bottom: 1px solid lightgray;
    outline-offset: -2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 1s;
}

.gridContainer .item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline-offset: -2px;
}

.productDetails {
    visibility: hidden;
    margin: 10px;
    background-color: #fff;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.productDetails p {
    margin: 10px;

}

.listContainer {
    display: grid;
    grid-template-columns: 100px 2fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 10px;

}

.listContainer .item {
    display: contents;

}

.listContainer .item img {
    grid-column: 1;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.listContainer .item #title {
    grid-column: 2;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.listContainer .item #price {
    grid-column: 3;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.listContainer .item #check {
    grid-column: 4;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.listContainer .item .productDetails {
    grid-column: 5;
    width: 1000px;
    height: 100px;
    margin: 10px;
    visibility: visible;
    border: none;
}


.myHeader {
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myHeader button {
    margin: 10px;
}


.item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}

.item p:first-of-type {
    font-size: larger;
    color: brown;
}

.item p:last-of-type {
    color: grey;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: gainsboro;
    width: 400px;
    height: 500px;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.productFormItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    font-family: 'Dosis';
    width: 90%;
}

.productFormItem input {
    border-radius: 5px;
}

.addProductForm button {
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: large;
    font-family: 'Dosis';
}


.product {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.addProductButtonCntainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.product button {
    border-style: none;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, outline 0.3s ease;
    font-family: 'Dosis';
    font-weight: 700;
    font-size: large;
}

.product button:hover {
    border-color: lightblue;
    box-shadow: 3px 5px 2px gray;
}

.line-1 {
    height: 1px;
    background: lightgray;
    margin-top: 10px;

}

.sortAndView {
    display: flex;
}
.viewButtons{
    display: flex;
    flex-direction: row;
}
.myHeader .sortAndView .viewButtons button {
    height: 50px;
    width: 50px;

}

.myHeader .sortAndView .viewButtons button img {
    height: 25px;
    width: 25px;
}