.gridItems {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.item img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    margin: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, outline 0.3s ease;
    box-sizing: border-box;
    height: 467px;
}

.hovered {
    height: 100%;
}

.item:hover .productDetails {
    visibility: visible;
}

.item:hover {
    outline: 2px solid lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    outline-offset: -2px;
}

.item h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.item p:first-of-type {
    font-size: larger;
    color: brown;
}

.item p:last-of-type {
    color: grey;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: lightblue;
    width: 500px;
    height: 200px;
}

.addProductForm div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.product {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.product button {
    border-style: none;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    transition: box-shadow 0.3s ease, outline 0.3s ease;
}

.product button:hover {
    border-color: lightblue;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
}

.productDetails {
    visibility: hidden;
    margin: 10px;
}

.line-1 {
    height: 1px;
    background: lightgray;
    margin-top: 10px;

}