* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.magicBallContainer {
    width: 100%;
    height: 1300px;
    min-height: 100%;
    color: #ddd;
    line-height: 18px;
    font-family: 'Noto Sans Armenian', 'Noto Sans', sans-serif;
    font-size: 100%;
    background-image: -webkit-radial-gradient(circle closest-side, #12356d, #000);
    background-image: radial-gradient(circle closest-side, #12356d, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.switchLanguage-item {
    display: inline-block;
    padding: 0.5625rem 1.0625rem 0.6875rem;
    color: #4b73ae;
    text-decoration: none;
    text-shadow: 0 -1px 0 black;
    font-size: 0.875rem;
    font-weight: bold;
}

.switchLanguage-item a {
    margin: 0;
    padding: 0;
    color: #c6dcff;
    font-size: 100%;
}

.switchLanguage {
    position: absolute;
    top: 0;
    left: 48,5%;
    text-align: center;
    box-shadow: 0 0 10px 2px #194795;
    background-color: black;
    background-image: -webkit-linear-gradient(bottom, #000000, #123369);
}

.switchLanguage-item:hover {
    text-shadow: 0 -1px 0 #000;
    color: #90aacf;
}

.switchLanguage-item.active {
    text-shadow: 0 -1px 0 #000;
    color: #90aacf;
    background-color: #194795;
    background-image: -webkit-linear-gradient(bottom, #194795, #0e2953);
    background-image: linear-gradient(to top, #194795, #0e2953);
}
.ballContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 1px 100px 1px white;
}
.shakeBallButton {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ballInBall {
    margin-top: 10px;
    margin-left: 10px;
    width: 178px;
    height: 178px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-out;
}
.ball-text {
    display: inline-block;
    position: relative;
    font-size: 1.125rem;
    color: #c6dcff;
    line-height: 22.5px;
    vertical-align: middle;
}
.ballInBall:hover{
    cursor: pointer;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .shake {
    animation: shake 1s; 
    animation-iteration-count: infinite;
  }
  .visible{
    visibility: visible;
    opacity: 1;
  }
  .hidden{
    visibility: hidden;
    opacity: 0;
  }