body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.homeContentConatainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.homeContentConatainer h2 {
  margin-top: 20px;
  font-size: 30px;
  color: black;
  text-shadow: 1px 1px 1px grey;
  
}

.homeContentConatainer p { 
  margin-top: 20px;
  font-size: 25px;
  color: black;
  text-shadow: 1px 1px 1px grey;
}


.homeContentConatainer ul {
  margin-top: 20px;
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px 1px grey;
  font-size: xx-large;
}

.homeContentConatainer ul li a {  
  text-decoration: none;
}